.nav-font {
    font-family: "Inknut Antiqua", serif;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.809);
    border-bottom: 1px solid var(--border-color);
    z-index: 999;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.167);
    box-shadow: var(--shadow);
    z-index: -12;
    transform: translateY(calc(-100% - 10px));
    transition: transform 0.5s ease;
}

.header.bg-reveal::before {
    transform: translateY(0);
}

.n-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.n-left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 2rem;
}

.n-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange);
    cursor: pointer;
}

.navbar-togler {
    background: var(--bs-link-color);
}


nav.open {
    transform: translateX(0);
    box-shadow: var(--shadow);
}

.nav-togler.active span {
    background-color: transparent;
}

.nav-togler.active span::before {
    transform: rotate(45deg);
}

.nav-togler.active span::after {
    transform: rotate(-45deg);
}

.n-right {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: 500;
}

.n-right>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.nav-link:hover {
    border-bottom: 1.5px solid var(--purple);
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 500px) {
    .n-right>ul {
        flex: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-weight: 500;
    }

}