.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* z-index: 0; */
    padding: 10px 0;
    /* color: aliceblue; */

    display: flex;
    align-items: center;
    justify-content: center;

}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.731);
    box-shadow: var(--shadow);
    z-index: -12;
    transform: translateY(calc(-100% - 10px));
    transition: transform 0.5s ease;
}

.header.bg-reveal::before {
    transform: translateY(0);
}

.n-wrapper {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    top: 0;
}

.n-left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;

}

.n-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange);
    cursor: pointer;
}

.navbar-togler {
    background: var(--bg-white);
}

.n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: 250;
}

.n-list {
    flex: 5;
}

.n-list>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
    margin-right: 4rem;
    margin-top: 1rem;
}



.n-list>ul :hover {
    color: var(--orange);
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
    animation: step-start 0.5s ease-in-out;
    box-shadow: var(--shadow, 0px 0px 0px 0px rgba(0, 0, 0, 0.2));
}

.n-button {
    flex: 2;
}

.button {
    background: linear-gradient(180deg, #4db5ff 26.71%, #4db5ff 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
}


.button:hover {
    color: var(--bg-white);
    cursor: pointer;
    animation: hover 0.5s ease;
}

nav.open {
    transform: translateX(0);
    box-shadow: var(--shadow);
}

.nav-togler.active span {
    background-color: transparent;
}

.nav-togler.active span::before {
    transform: rotate(45deg);
}

.nav-togler.active span::after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .n-list {
        /* height: 15vh;
        position: relative;
        margin-top: 8rem; */
        font-size: 1px;
    }



    .n-list>ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 1rem;
        overflow-y: scroll;
        font-weight: 50;
    }

    .navbar-collapse {
        /* height: 100vh; */
    }
}

@media screen and (max-width: 544px) {
    .n-right {
        flex-direction: row;
        font-weight: 100;
        font-size: 1px;
    }

    .n-list>ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow-y: scroll !important;

        font-weight: 50;
    }
}

@media (max-width:991px) {
    :root {
        --fs-4xl: 42px;
        --fs-3xl: 22px;
        --fs-2xl: 24px;
        --fs-xl: 18px;
    }

    /*
    .nav-togler {
        display: block;
        height: 34px;
        width: 40px; 
        border: none;
        z-index: 1;
        background: wheat;
        background-color: var(--orange);
        cursor: pointer;
    }


    .nav-togler span {
        display: block;
        height: 2px;
        width: 24px;
        background-color: var(--main-color);
        margin: auto;
        position: relative;
        transition: background-color 0.3s ease;
    }

    .nav-togler span::after,
    .nav-togler span::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        transition: transform 0.3s ease;
    }

    .nav-togler span::before {
        transform: translateY(-7px);
    }

    .nav-togler span::after {
        transform: translateY(7px);
    }


    .nav>ul {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 190px;
        background-color: var(--bg-color);
        padding: 60px 30px 30px;
        overflow-y: auto;
        transition: all 0.3s ease;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    nav li {
        display: block;
        margin: 0;
    }

    nav a {
        font-size: var(--fs-lg);
    }

    nav li+li {
        border-top: 1px solid var(--border-color);
    }

    nav.open {
        transform: translateX(0);
        box-shadow: var(--shadow);
    } 

    .nav-togler.active span {
        background-color: transparent;
    }

    .nav-togler.active span::before {
        transform: rotate(45deg);
    }

    .nav-togler.active span::after {
        transform: rotate(-45deg);
    } */

}