footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.809);
    color: var(--text-white);
    border-top: 1px solid var(--border-color);
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    gap: 2rem;
}

.footer__logo img {
    object-fit: contain;
    font-size: 0.2rem;
    font-weight: 500;
}

.f-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.footer__social a {
    /* background: var(--color-white); */
    color: var(--color-black);
    padding: 0.6rem;
    font-size: 1.4rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.footer__social a:hover {
    background: transparent;
    /* color: var(--color-white); */
    border-color: var(--color-bg);
    transform: scale(1.3);
}

.footer__copyright {
    font-size: 0.9rem;
    font-weight: 450;
}

.footer__copyright>em {
    font-weight: bold;
}