.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-primary);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    box-shadow: var(--shadow);
}

.contact__option:hover {
    cursor: pointer;
    background: var(--color-white);
    color: var(--color-bg);
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.button {
    background: linear-gradient(180deg, #4db5ff 26.71%, #4db5ff 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 21px 26px 21px 26px;
}

.button:hover {
    /* background: var(--bg-black); */
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);

}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    /* background: transparent; */
    border: 2px solid var(--color-primary);
    resize: none;
    /* color: var(--color-white); */
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--container-width-sm);
    gap: 2rem;
    margin-top: 9rem;
    max-width: 100%;
    margin-left: 1rem;
}

.c-right {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 100%;
}

.c-right .user {
    width: 20rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    font-size: 16px;
    height: 2.5rem;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
}

textarea {
    height: 8rem !important;
}

.c-blur1 {
    top: 1rem;
    left: 8rem;
}

/*****MEDIA QUERIES (MEDIUM DEVICES)*****/

@media (max-width:1024px) {
    .contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        height: 50vh;
    }

    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 54vh;
        gap: 1rem;
        width: var(--container-width-sm);
    }

}

/*****MEDIA QUERIES (MEDIUM DEVICES)*****/

@media (max-width: 768px) {


    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        max-width: 100%;
        margin-top: 9rem;
    }

    .c-right .user {
        /* width: 16rem; */
    }

}

@media screen and (max-width: 480px) {


    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5rem;
        margin-top: 9rem;
        max-width: 100%;
    }


}

@media screen and (max-width: 320px) {

    .container {
        --bs-butter-x: 0;
    }

    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5rem;
        max-width: 100%;
        margin-top: 9rem;
    }

    .c-right .user {
        /* width: 12rem; */
    }

}