.preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-left: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    animation: preloader 1s linear infinite;

}

.preloader.fade-out {
    opacity: 0;
    transition: opacity 0.9s ease;
}

@keyframes preloader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}