/* hero section */
.hero {
    min-height: 200px;
    font-weight: 600;
    margin-top: 2rem;
    padding-top: 100px;
}

/* left side styling */
.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}



.i-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.i-name> :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name> :nth-child(2) {
    color: var(--bs-link-color);
    font-weight: bold;
    font-size: 3rem;
}

.i-name> :nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}

.i-name> :nth-child(4) {
    color: var(--black);
    font-size: 1.5rem;
}

.i-button {
    width: 7rem;
    height: 4rem;
}

.button:hover {
    background: rgba(0, 128, 100, 0.521);
    color: var(--black);
}

.i-icons {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
}

.i-icons>* {
    transform: scale(0.5);
}

.i-icons>*:hover {
    cursor: pointer;
}

.banner-text {
    /* color: var(--color-black); */
    font-size: 39px;
}

/* right side styling */
.i-right {
    flex: 1;
    position: relative;
}

.i-right>* {
    position: absolute;
    z-index: 1;
}


.i-right> :nth-child(1) {
    transform: scale(1.39);
    left: -11%;
    top: -1%;
    z-index: -10;

}

.i-right> :nth-child(2) {
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}

.i-right> :nth-child(3) {
    /* padding: 1.0rem; */
    /* transform: scale(3.8); */
    left: 13%;
}


/* blur */
.blur {
    position: absolute;
    /* width: 22rem; */
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}

@media screen and (max-width: 768px) {

    .hero {
        padding: 4rem;
        margin-top: 0rem;
    }

    .i-left {
        transform: scale(0.6);
    }

    .i-right {
        transform: scale(1.4);
        top: -15%;
        left: -1rem;
        z-index: -1;
        flex: 1;
        position: relative;
    }


    .i-right .blur {
        display: none;
    }


    .i-name> :nth-child(1) {
        color: var(--black);
        font-weight: bold;
        font-size: 1rem;
    }

    .i-name> :nth-child(2) {
        color: var(--bs-link-color);
        font-weight: bold;
        font-size: 2.5rem;
    }

    .i-name> :nth-child(3) {
        font-weight: 100;
        font-size: 14px;
        color: var(--gray);
        margin-top: 10px;
    }

    .i-name> :nth-child(4) {
        color: var(--black);
        font-size: 1.1rem;
    }

    .floating-div:nth-of-type(1) {
        /* display: none; */
        bottom: -2rem !important;
        ;
    }

    .i-icons {
        display: none;
    }
}