@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,400;1,500;1,600;1,700&family=Finlandica:ital,wght@0,600;1,400;1,500;1,600;1,700&family=Lobster&family=Open+Sans:ital,wght@0,300;0,600;1,400;1,600;1,800&family=Oswald:wght@200;300;400;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;1,400;1,700&family=Permanent+Marker&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,900&display=swap');

:root {
    --hue: 300;
    --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
    --yellow: #F5C32C;
    --orange: #FCA61F;
    --black: #242D49;
    --gray: #788097;
    --blueCard: #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgb(77, 181, 255, 0.4);
    --color-white: rgb(255, 255, 255);
    --color-light: rgb(255, 255, 255, 0.6);
    --saturation: 70%;
    --lightness: 55%;
    --main-color: hsl(var(--hue), var(--saturation), var(--lightness));
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 96%);
    --text-x-dark-gray: hsl(0, 0%, 10%);
    --text-dark-gray: hsl(0, 0%, 20%);
    --body-bg-color: hsl(var(--hue), 60% 94%);
    --bg-color: hsl(var(--hue), 60%, 96%);
    --bg-white: hsl(0, 0%, 100%);
    --border-color: hsl(var(--hue), 48%, 80%);
    --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
    --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* main */
body {
    margin: 0;
    padding: 0;
    font-family: "Inria Serif", serif;
    font-size: 1.3rem;
    background-color: var(--color-bg);
    color: #DDF8FE;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    /* font-family: 'Arimo', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::before,
::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}

::selection {
    background-color: var(--main-color);
    color: var(--text-white);
}


::-webkit-scrollbar-track {
    color: var(--body-bg-color);

}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}


/* titles */
.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.title span {
    padding: 0.5rem 2rem;
    border-bottom: 0.4rem solid green;
}

/* icons */

.icons i {
    font-size: 5rem;
}

.icons>div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

/* project section */
.projects {
    background: #485303;
}

.projects .row {
    --bs-gutter-x: 0;
}

.c-p {
    background: rgba(197, 0, 230, 0.59);
}

.projects a {
    color: #fff;
    text-decoration: none;
}

/* about me section */

.about {
    background: rgba(96, 165, 27, 0.26);
    border-radius: 31px;
}

.tilt {
    transform: rotate(-11deg);
}


/* Layout */
.main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}