@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,400;1,500;1,600;1,700&family=Finlandica:ital,wght@0,600;1,400;1,500;1,600;1,700&family=Lobster&family=Open+Sans:ital,wght@0,300;0,600;1,400;1,600;1,800&family=Oswald:wght@200;300;400;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;1,400;1,700&family=Permanent+Marker&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,900&display=swap');

:root {
    --hue: 300;
    --saturation: 70%;
    --lightness: 55%;
    --main-color: hsl(var(--hue), var(--saturation), var(--lightness));
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 96%);
    --text-x-dark-gray: hsl(0, 0%, 10%);
    --text-dark-gray: hsl(0, 0%, 20%);
    --body-bg-color: hsl(var(--hue), 60% 94%);
    --bg-color: hsl(var(--hue), 60%, 96%);
    --bg-white: hsl(0, 0%, 100%);
    --border-color: hsl(var(--hue), 48%, 80%);
    --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
    --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.7);
    --fs-4xl: 50px;
    --fs-3xl: 35px;
    --fs-2xl: 26px;
    --fs-xl: 20px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
    --yellow: #F5C32C;
    --orange: #FCA61F;
    --black: #242D49;
    --gray: #788097;
    --blueCard: #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgb(77, 181, 255, 0.4);
    --color-white: rgb(255, 255, 255);
    --color-light: rgb(255, 255, 255, 0.6);
    --transition: all 400ms ease;
    --container-width-lg: 1024px;
    --container-width-md: 768px;
    --main-color: hsl(var(--hue), var(--saturation), var(--lightness));
    --container-width-sm: 576px;
}

/*override variabke for dark theam*/
body.t-dark {
    --text-x-dark-gray: rgb hsl(0, 0, 94%);
    --text-dark-gray: hsl(0, 0%, 84%);
    --body-bg-color: hsl(var(--hue), 20% 10%);
    --bg-color: hsl(var(--hue), 13%, 17%);
    --border-color: hsl(var(--hue), 15%, 30%);
    --shadow: 0 0 10px hsla(var(--hue), 19%, 7%, 0.9);
}

/*override variabke for dark*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    list-style: none;
    text-transform: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    font-weight: 200;
    font-size: var(--fs-md);
    color: var(--text-dark-gray);
    background-color: var(--bg-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    /* font-family: 'Arimo', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;
    background: rgb(255, 255, 255);
    /* background-image: url(https://img.freepik.com/premium-photo/black-rectangular-mockups-dark-concrete-background-design-elements-portfolio_76255-1494.jpg); */
    background-repeat: no-repeat;
    /* background-size: 100% 1000vh; */
    background-size: 100%;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::selection {
    background-color: var(--main-color);
    color: var(--text-white);
}


::-webkit-scrollbar-track {
    color: var(--body-bg-color);

}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* .page-wrapper {
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--bg-black);
} */

@media (max-width:991px) {
    :root {
        --fs-4xl: 42px;
        --fs-3xl: 22px;
        --fs-2xl: 24px;
        --fs-xl: 18px;
    }
}


.button {
    background: linear-gradient(180deg, #4db5ff 26.71%, #4db5ff 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 21px 26px 21px 26px;
}

.button:hover {
    /* background: var(--bg-black); */
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);

}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    transition: var(--transition);
    cursor: pointer;
    border: 1px solid var(--color-primary);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
}

section>h2,
section>h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    color: var(--bs-link-color);
    text-decoration: underline var(--color-primary) 4px;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
    text-decoration: none;
}

a:hover {
    color: var(--color-white);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*****MEDIA QUERIES (MEDIUM DEVICES)*****/

@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/*****MEDIA QUERIES (MEDIUM DEVICES)*****/

@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm);
    }

    section {
        margin-bottom: 2rem;
    }
}


/* @media screen and (max-width: 480px) {
    .App {
        padding: 0.5rem 1rem;

    } 
} */